@{
    ViewData["Title"] = "Home";
}

      <section>
        <div class="col-12">
          <img
            class="col-12"
            src="https://s24.q4cdn.com/131595232/files/doc_multimedia/G_Eclipse_KV_Main.jpg"
            alt=""
            srcset=""
          />
        </div>
      </section>
      <!-- Carousel Start-->
      @await Component.InvokeAsync("LastAddedProducts")
      <!-- top sell start -->
      @await Component.InvokeAsync("TopSellProducts")
      <!-- brand -->
      @await Component.InvokeAsync("Brands")
     @* <section class="mt-5 bg-dark">
        <div class="d-flex justify-content-center p-5 text-center">
          <h2 style="color: white">Brands</h2>
        </div>
        <div class="col-12 bg-dark d-flex justify-content-center text-center">
          <div
            class="col-8 bg-dark m-5 d-flex justify-content-center text-center flex-wrap"
          >
            <div class="col-sm">
              <div class="d-flex justify-content-center p-1 text-center">
                <h4 style="color: white">Logitech</h4>
              </div>
            </div>
            <div class="col-sm">
              <div class="d-flex justify-content-center p-1 text-center">
                <h4 style="color: white">Logitech</h4>
              </div>
            </div>
            <div class="col-sm">
              <div class="d-flex justify-content-center p-1 text-center">
                <h4 style="color: white">Logitech</h4>
              </div>
            </div>
            <div class="col-sm">
              <div class="d-flex justify-content-center p-1 text-center">
                <h4 style="color: white">Logitech</h4>
              </div>
            </div>
          </div>
        </div>
      </section>*@
    