
@{
    ViewData["Title"] = "Index";
}


      <!-- Filter -->
      <div
        class="w-wrapper pt-5 mt-5 d-flex align-items-center justify-content-center"
      >
        <div class="w-filters">
          
          <form
            method="get"
            class="d-flex justify-content-center align-items-center"
          >
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="category" required>
              <option value="all" selected>All Categories</option>
              <option value="credit">Mouse</option>
              <option value="insurance">Keyboard</option>
              <option value="payments-and-remittances">Headset</option>
              <option value="savings-and-pfm">Mousepad</option>
              <option value="infrastructure">Camera</option>
            </select>
            <span class="focus"></span>
          </div>
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="color" required>
              <option value="all" selected>All Colors</option>
              <option value="Red">Red</option>
              <option value="Blue">Blue</option>
              <option value="Cyan">Cyan</option>
              <option value="Gray">Gray</option>
              <option value="Green">Green</option>
              <option value="Yellow">Yellow</option>
            </select>
          </div>
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="Price" required>
              <option value="" disabled hidden>Price</option>
              <option value="all" selected>All Price</option>
              <option value="0-50">0-50</option>
              <option value="50-150">50-150</option>
              <option value="100-50">100-200</option>
              <option value="150-250">150-250</option>
            </select>
          </div>
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="all brands" required>
              <option value="all" selected>All Brands</option>
              <option value="Logitech1">Logitech1</option>
              <option value="Logitech2">Logitech2</option>
              <option value="Logitech3">Logitech3</option>
            </select>
          </div>
          <div class="w-select-wrapper">
            <select class="w-filter-by" name="show" required>
              <option value="show" disabled>Show</option>
              <option value="12" selected>12</option>
              <option value="24">24</option>
              <option value="36">36</option>
            </select>
          </div>
            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <!-- Filter End -->
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
          <div class="col">
            <a
              href="product-detail.html"
              class="card product shadow-lg"
              style="width: 18rem"
            >
              <img
                src="https://resource.logitechg.com/w_419,ar_1.0,c_limit,f_auto,q_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/products/pro-x-superlight/pro-x-superlight-black-gallery-1.png?v=1"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body details">
                <p style="color: black" class="card-text text-center">
                  Shroud G303 HERO
                </p>

                <p style="color: black" class="card-text text-center">$99.99</p>
                <button class="btn btn-primary">Go To Detail</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    
