
@{
    ViewData["Title"] = "Index";
}


      <section
        class="card-body d-flex flex-column justify-content-center align-items-center"
      >
        <div class="shopping-cart">
          <!-- Title -->
          <div>
            <div class="title d-flex justify-content-between">
              <h4>Shopping Bag</h4>
              <button class="btn btn-dark">Remove All</button>
            </div>
          </div>
          <!-- Products -->
          <div class="item">
            <div class="buttons">
              <span class="delete-btn-card"></span>
              <span class="like-btn-card"></span>
            </div>

            <div class="image">
              <img
                width="100px"
                src="https://resource.logitechg.com/content/dam/gaming/en/products/pro-wireless/pro-wireless-headset-gallery-1.png"
                alt=""
              />
            </div>

            <div class="description">
              <span>Common Projects</span>
              <span>Bball High</span>
              <span>White</span>
            </div>

            <div class="quantity">
              <button class="plus-btn-card" type="button" name="button">
                <img src="./assets/svg/plus.svg" alt="" />
              </button>
              <input type="text" name="name" value="1" />
              <button class="minus-btn-card" type="button" name="button">
                <img src="./assets/svg/minus.svg" alt="" />
              </button>
            </div>

            <div class="total-price">$549</div>
          </div>
          <div class="item">
            <div class="buttons">
              <span class="delete-btn-card"></span>
              <span class="like-btn-card"></span>
            </div>

            <div class="image">
              <img
                width="100px"
                src="https://resource.logitechg.com/content/dam/gaming/en/products/pro-wireless/pro-wireless-headset-gallery-1.png"
                alt=""
              />
            </div>

            <div class="description">
              <span>Common Projects</span>
              <span>Bball High</span>
              <span>White</span>
            </div>

            <div class="quantity">
              <button class="plus-btn-card" type="button" name="button">
                <img src="./assets/svg/plus.svg" alt="" />
              </button>
              <input type="text" name="name" value="1" />
              <button class="minus-btn-card" type="button" name="button">
                <img src="./assets/svg/minus.svg" alt="" />
              </button>
            </div>

            <div class="total-price">$549</div>
          </div>
        </div>
        <button class="btn btn-info">Checkout</button>
      </section>
    

