@model List<Product>

<section class="col-12 mt-5 md-5">
        <div class="container">
          <div class="d-flex justify-content-center p-5 text-center">
            
          </div>
          <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
           {
               <div class="custom-card col-sm d-flex justify-content-center">
              <div
                class="card-custom-item card bg-dark shadow-lg"
                style="width: 18rem"
              >
                <img
                  src="~/uploads/products/images/@item.Images.FirstOrDefault(p=>p.IsMain == true)?.ImagePath"
                  class="img-fluid card-img-top custom-card-img-top"
                  alt="..."
                />
                <div
                  class="card-body d-flex flex-column justify-content-end align-items-center"
                >
                  <p style="color: white" class="card-text text-center">
                    @item.Name
                  </p>
                  <p
                    style="color: var(--secondary)"
                    class="card-text text-center"
                  >
                    $@item.PriceList.FirstOrDefault(p=>p.ProductId==item.Id).Price
                  </p>
                  <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="btn custom-button btn-light m-3">
                    Go To Detail
                  </a>
                </div>
              </div>
            </div>
           }
          </div>
        </div>
      </section>