
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denied</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="~/assets/images/output-onlinepngtools.png"
    />
</head>
<body>
    <h1>Denied</h1>
</body>
</html>
