@model List<Brand>

<section class="mt-5 bg-dark">
        <div class="d-flex justify-content-center p-5 text-center">
          <h2 style="color: white">Brands</h2>
        </div>
        <div class="col-12 bg-dark d-flex justify-content-center text-center">
          <div
            class="col-8 bg-dark m-5 d-flex justify-content-center text-center flex-wrap"
          >
            @foreach (var item in Model)
            {
                <div class="col-sm">
              <div class="d-flex justify-content-center p-1 text-center">
                <h4 style="color: white">@item.Name</h4>
              </div>
            </div>
            }
          </div>
        </div>
      </section>